body{
  background-color: #121212;
}
.container__main{
  height: 95vh;
}

.container__type {
  display: flex;
  justify-content: space-between;
}

.typeanimation {
  padding: 80px 30px 0px 30px;
}

.title_of_type {
  font-size: 85px;
  font-family: sans-serif;
  color: white;
  padding-bottom: 20px;
  font-weight: 900;
}
.type {
  color: #20d0dc;
  font-size: 85px;
  font-weight: 900;
  text-shadow: 0px 0px 20px rgba(0, 220, 65, 0.28);
}

.container_img {
  position: relative;
  top: 10px;
  right: 50px;
}
.img {
  width: 400px;
  height: 400;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  border-radius: 200px 200px 200px 200px;
}

.buttons {
  margin-left: 40px;
  margin-top: -50px;

  &__first {
    padding: 15px 25px 15px 25px;
    background-color: #20d0dc;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 22px;
  }
  &__second {
    margin-left: 30px;
    padding: 15px 25px 15px 25px;
    background-color: #121212;
    color: white;
    border-radius: 30px;
    border: 4px solid;
    border-color: #20d0dc;
    font-size: 20px;
    cursor: pointer;
  }
}
